.c1{
    background-color:rgb(101, 164, 201) ;
}
.c1 h1{
   
    background-color: rgb(69, 69, 230);
    padding: 4mm;
    

}
.c1 p{
    background-color: rgb(211, 244, 247);
    padding-top: 4mm;
    padding-bottom: 4mm;
}



.a{
    background-color:  rgb(211, 244, 247);
}
.b{
    background-color: lightcyan;
}